#products {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(0, min(50%/3)));
    max-height: 50px;
}

.price {
   color:brown;
}

.product_list {
    padding: 20px;
    margin-left: 10px;
}

@media (max-width: 1024px) {
    /* Styles for tablets */
    #products {
        grid-gap: 10px;
        grid-template-columns: repeat(auto-fit, minmax(0, min(100%, 3fr)));
    }
}

@media (max-width: 768px) {
    /* Styles for mobile phones */
    #products {
        grid-gap: 10px;
        grid-template-columns: repeat(auto-fit, minmax(0, min(100%, 3fr)));
    }
}

.details-button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 4px;
    background-color: #728599;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    align-items: center;
  }
  
  .details-button:hover {
    background-color: #0056b3;
  }
  
  .details-button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
  }
  
  .details-button:active {
    background-color: #00449e;
  }
  

.modal {
    position: fixed;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.8);
    width: 400px; /* Adjust the width as needed */
    max-width: 90%;
    padding: 20px;
    border-radius: 8px;
    color: #fff;
  }
  
  .modal-content {
    position: relative;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #fff;
  }
  
